@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <a class="nav-link text-dark" asp-area="" asp-page="/lab5NewPage"><h2>Click for New Page</h2></a>
    
}

<div class="text-center">
    <h1 class="display-4">Best CCTV & YOUR Security Solution For You</h1>
    <p>Vero elitr justo clita lorem. Ipsum dolor at sed stet site diamno. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr. </p>
</div>
